html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #f4f6f8;
}

input {
    font-family:georgia,times;
    font-size:24px;
    line-height:1.2em;
}

a {
    color:blue;
    font-family:georgia,times;
    line-height:1.2em;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

h1 {
    color:#000000;
    font-size:41px;
    border-bottom:1px dotted #cccccc;
}

td {padding: 1px 30px 1px 0;}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}


.page-header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 0 20px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 1px 8px rgba(0,0,0,0.08);
}
.page-header .layui-nav {
    width: 1200px;
    margin: 0 auto;
    background-color: transparent;
    color: #555;
}
.page-header .layui-nav .layui-nav-item a {
  color: #555;
  line-height: 60px;
}
.page-header .layui-nav .layui-nav-item a:hover,
.page-header .layui-nav .layui-this a {
  color: #000;
}


.page-footer-wrapper {
  width: 100%;
  background: #1f2730;
}
.page-footer {
  width: 1200px;
  height: 110px;
  margin: 20px auto 0;

}
